@charset "UTF-8";
.wiki-article h1,
.wiki-article h2,
.wiki-article h3,
.wiki-article h4,
.wiki-article h5,
.wiki-article h6{margin:1.2em 0 0.8em 0;}
.wiki-article h1{font-size:2.3em;}
.wiki-article h2{font-size:1.8em;}
.wiki-article h3{font-size:1.6em;}
.wiki-article h4{font-size:1.4em;}
.wiki-article h5{font-size:1.2em;}
.wiki-article h6{font-size:1.0em;}
.wiki-article .wiki-content h1,
.wiki-article .wiki-content h2,
.wiki-article .wiki-content h3,
.wiki-article .wiki-content h4,
.wiki-article .wiki-content h5,
.wiki-article .wiki-content h6{border-bottom:1px solid #CCC;padding-bottom:5px;}
.wiki-article .wiki-edit-section{float:right;font-size:0.8rem;}
.wiki-article del{color:gray;}.wiki-article .wiki-size.size-1{font-size:14pt;}
.wiki-article .wiki-size.size-2{font-size:15pt;}
.wiki-article .wiki-size.size-3{font-size:16pt;}
.wiki-article .wiki-size.size-4{font-size:17pt;}
.wiki-article .wiki-size.size-5{font-size:18pt;}
.wiki-article pre{padding:3px;background-color:#eeeeee;border:1px solid #dddddd;border-radius:3px;}
.wiki-article pre{overflow-x:auto;}
.wiki-article pre code{padding:0;background:none;border:none;}
.wiki-article .not-exist{color:red;}
.wiki-article .self-link{font-weight:bold;}
.wiki-article .wiki-link-external{color:#090;}
.wiki-article .wiki-link-external:before{padding:0px 0.15em;background:green;color:white;content:"\f1fe";font-family:"Ionicons"!important;}
.wiki-article .wiki-content img{display:block;max-width:100%;}.wiki-article .wiki-content img[align="middle"]{margin:0 auto;}
.wiki-article .wiki-table img{display:inline-block;max-width:initial;}
.wiki-article ul,
.wiki-article ol{list-style:inherit;}
.wiki-article .wiki-list{margin:0.4em 0 0.4em 1.5em;}
.wiki-article .wiki-list li{margin:0.4em 0;list-style:inherit!important;list-style-type:inherit!important;}
.wiki-article .wiki-fn-content{font-size:0.8em;vertical-align:super;}
.wiki-article .wiki-macro-footnote{margin:1.5em 0;padding:0.5em 0;border-top:1px solid #777777;}
.wiki-article .footnote-list{line-height:2em;display:block;}.wiki-article .wiki-indent{padding-left:10px;}
.wiki-article .wiki-quote{padding:1em calc(2em + 25px) 1em 1em;margin:2em 0;background:#eeeeee;border:2px dashed #ccc;border-left:5px solid #71BC6D;background-image:url('/img/quote.png?1437660248');background-position:calc(100% - 10px) 10px;background-repeat:no-repeat;background-size:25px;}.wiki-article hr{margin:0.5em 0;}
.wiki-article .wiki-macro-toc{border:1px solid #ccc;display:inline-block;padding:12px 20px 18px 0px;margin-left:5px;font-size:0.9rem;}
.wiki-article .wiki-macro-toc:before{content:"목차";font-size:18px;margin-left:14px;}
.wiki-article .toc-indent{padding-left:20px;}.wiki-article .wiki-macro-toc>.toc-indent:first-of-type{margin-top:12px;}
.wiki-article .toc-item{display:block;}.wiki-article iframe{display:block;max-width:100%;}
.wiki-article .wiki-table-wrap{display:block;max-width:100%;overflow-x:auto;margin:10px 0;}
.wiki-article .wiki-table-wrap.table-center{margin:10px auto;}
.wiki-article .wiki-table{background-color:#f5f5f5;border-collapse:collapse;}
.wiki-article .table-center .wiki-table{margin:auto;}.wiki-article .table-right{margin-left:20px;margin-bottom:20px;float:right;}@media screen and (max-width: 420px) {.wiki-article .table-right{float:none;margin:10px 0;}}
.wiki-article .wiki-table td{padding:5px 10px;border:1px solid #dddddd;}
.wiki-article table.table tbody tr{background-color:white;}
.wiki-article .table td{word-wrap:break-word;}.wiki-article .wiki-closure{padding:5px;margin:10px 0;border:1px solid #727272;}
.wiki-article div.wiki-category{border:1px solid #777;padding:5px;margin-top:1em;}
.wiki-article div.wiki-category h2{display:inline-block;border:0;padding:0;margin:0;font-weight:normal;font-size:inherit;}
.wiki-article div.wiki-category ul{display:inline-block;margin-bottom:0;padding-left:0!important;}
.wiki-article div.wiki-category h2:after{content:':';}
.wiki-article div.wiki-category ul li{display:inline-block;}
.wiki-article div.wiki-category ul li:after{content:'|';padding-left:5px;}
.wiki-article div.wiki-category ul li:last-child:after{display:none;}
.wiki-article .wiki-content .wiki-category-container{-webkit-column-count:3;-moz-column-count:3;column-count:3;}
.wiki-article .wiki-content .wiki-category-container div:first-child h3{margin-top:0;}
.wiki-article em{font-style:italic;}
.wiki-article .wiki-file-image{margin-bottom:20px;}
.wiki-lazy-image{display:none;}
.wiki-lazy-loading{background-color:#888;background-image:url(../img/loading.gif?1445146813);background-repeat:no-repeat;background-position:center;}